<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Habib's Projects</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 href="./index.html">
        Habib Shakour
    </h1>
    <h2>
        Habib's Projects
    </h2>
    <p>
        This page's function kinda overlaps with the portfolio page. <br>
        I guess the main difference would be I would actually host projects here, <br>
        while the portfolio page would link to repos n stuff (or back to here depending on the project/display)
    </p>
</body>